  <div class="post" data-price="{{PRICE}}" data-city="{{CITY}}" data-condition="{{CONDITION}}">
    <div class="post-contents">
      <div class="post-image-container">
        <img src="{{PHOTO_URL}}" alt="{{ITEM_DESCRIPTION}}">
      </div>
      <div class="post-info-container">
        <a href="#" class="post-title">{{ITEM_DESCRIPTION}}</a> <span class="post-price">${{PRICE}}</span> <span class="post-city">({{CITY}})</span>
      </div>
    </div>
  </div>